Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: "^(docs/autogen|snapshots/)"
      - id: trailing-whitespace
        exclude: "^(docs/autogen|snapshots/)"
      - id: end-of-file-fixer
        exclude: "^(docs/autogen|snapshots/)"
      - id: check-merge-conflict
      - id: check-json
        exclude: "^(docs/autogen|snapshots/)"
      - id: check-yaml

  - repo: local
    hooks:
      - id: sort-imports
        name: Sort imports
        description: Normalize and sort import statements in Solidity files
        language: system
        entry: python3 script/utils/sort_imports.py
        files: "^(src|examples)/.*\\.sol$"
        pass_filenames: true
      - id: sort-errors
        name: Sort solidity errors
        description: Alphabetize error declarations in Solidity files
        language: system
        entry: python3 script/utils/sort_errors.py
        files: "^(src|examples)/.*\\.sol$"
        pass_filenames: true
      - id: format
        name: Format solidity code
        description: Format solidity code with `forge fmt`
        language: system
        entry: forge fmt
        files: '\.sol$'
        exclude: "^lib/"
        pass_filenames: true
      - id: doc
        name: Generate documentation
        description: Generate docs with `forge doc`
        language: system
        entry: bash -lc 'forge build; rm -rf docs/autogen; forge doc -b -o docs/autogen'
        pass_filenames: false
      - id: forge-snapshots
        name: Update forge snapshots
        language: system
        entry: bash -lc 'mkdir -p snapshots; forge build; forge build --sizes | tee snapshots/sizes.txt >/dev/null; forge test --isolate --gas-report | tee snapshots/gas.txt >/dev/null'
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format non-solidity files with prettier
        exclude: "^(docs/autogen|snapshots/)"

fix: openzeppelin - Incorrect or Misleading Documentation
  src/contracts/adapters/LiquidLaneAdapter.sol
  src/contracts/adapters/common/CoWSwapConverter.sol
  src/contracts/adapters/ll-adapter/common/Account.sol
  src/interfaces/adapters/common/ICoWSwapConverter.sol
Due: sort-imports, sort-errors, format

fix: openzeppelin - Redundant _hashDiscount Recomputation in the Discount-Swap Path
  src/contracts/adapters/LiquidLaneAdapter.sol
Due: sort-imports, sort-errors, format

fix: openzeppelin - Inconsistent Naming Between Interface and Implementation
  src/contracts/adapters/LiquidLaneAdapter.sol
  src/interfaces/adapters/common/ICoWSwapConverter.sol
Due: sort-imports, sort-errors, format

fix: openzeppelin - MidasNonCompAccount Pending-Request Valuation Ignores the Recorded tokenOutRate
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  test/adapters/ll-adapter/MidasAccountOracles.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Swap limit check uses a pre-deallocation account snapshot, doublecounting funds, and reverting valid swaps
  src/contracts/adapters/LiquidLaneAdapter.sol
  test/adapters/LiquidLaneAdapter.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Midas dust can block the conversion of settled fallback redemption tokens
  src/contracts/adapters/ll-adapter/common/Account.sol
  test/adapters/ll-adapter/MidasAccountOracles.t.sol
Due: sort-imports, sort-errors, format

chore: better deployments
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mBTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHyperBTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHyperETH_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mRe7BTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mevBTC_Account.sol
  test/adapters/ll-adapter/MidasAccountOracles.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

fix: openzeppelin - Mixed Namespaced and Sequential Storage Risks State Corruption on Migration
  src/contracts/adapters/LiquidLaneAdapter.sol
  test/adapters/LiquidLaneAdapter.t.sol
Due: sort-imports, sort-errors, format

fix: openzeppelin - Mixed Namespaced and Sequential Storage Risks State Corruption on Migration
  script/deploy/testnet/CreateHoodiMGlobalSolverVaults.s.sol
  script/deploy/testnet/CreateSepoliaMGlobalSolverVaults.s.sol
  src/contracts/adapters/Adapter.sol
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  src/contracts/adapters/ll-adapter/common/Account.sol
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  src/contracts/adapters/ll-adapter/common/CooldownAccount.sol
  src/contracts/adapters/ll-adapter/common/CutoffAccount.sol
Due: sort-imports, sort-errors, format

chore: pre-commit
  snapshots/gas.txt
  snapshots/sizes.txt
Due: none

chore: remove redundants
  .gitignore
  audits/Bailsec-Adapters.pdf
  audits/ChainSecurity-CoreV2.pdf
  audits/Statemind-CoreV2.pdf
  docs/superpowers/plans/2026-06-11-cutoff-redemptions.md
  docs/superpowers/specs/2026-06-11-cutoff-redemptions-design.md
Due: none

chore: deployment
  script/deploy/DeployV2.s.sol
  script/deploy/base/DeployV2Base.s.sol
  test/deploy/DeploymentScripts.t.sol
Due: format

test: fix
  script/deploy/testnet/DeployFullCoreLiquidLaneTestnet.s.sol
  test/adapters/AaveMorphoMainnetAccounting.t.sol
  test/adapters/AppAdapter.t.sol
  test/integration/actions/ActionScripts.t.sol
Due: format

chore: audits
  audits/Bailsec-CoreV2.pdf
  audits/Bailsec-CoreV2Extension.pdf
  audits/Statemind-CoreV2.pdf
Due: none

docs: fix script name mismatch in Safe multisig example
  README.md
Due: none

chore: run on commit
  .github/workflows/test.yaml
Due: none

chore: adjust ci run
  .github/workflows/test.yaml
Due: none

chore: update scripts
  script/deploy/DeployAndWhitelistAaveMorpho.s.sol
  script/deploy/base/DeployV2Base.s.sol
  test/deploy/DeploymentScripts.t.sol
Due: format

feat(3f): settable maxConcurrentLoans + activeRequests() enumeration
  script/adapters/DeployThreeFAdapter.s.sol
  script/adapters/actions/3f-adapter/SetExposureLimits.s.sol
  script/adapters/actions/3f-adapter/base/SetExposureLimitsBase.s.sol
  script/adapters/base/DeployThreeFAdapterBase.sol
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/AdapterNoAccountShape.t.sol
  test/adapters/ThreeFAdapter.t.sol
  test/deploy/DeploymentScripts.t.sol
Due: sort-imports, sort-errors, format

refactor: optimize mGLOBAL
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  src/interfaces/adapters/ILiquidLaneAdapter.sol
  test/adapters/ll-adapter/MidasCutoffAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

refactor: cache lengths
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/adapters/LiquidLaneAdapter.sol
  src/contracts/adapters/ThreeFAdapter.sol
  src/contracts/adapters/ll-adapter/AssetoAccount.sol
  src/contracts/adapters/ll-adapter/EtherFiAccount.sol
  src/contracts/adapters/ll-adapter/FigureAccount.sol
  src/contracts/adapters/ll-adapter/GaibAccount.sol
  src/contracts/adapters/ll-adapter/InfiniFiAccount.sol
  src/contracts/adapters/ll-adapter/LidoAccount.sol
  src/contracts/adapters/ll-adapter/MakinaAccount.sol
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  src/contracts/adapters/ll-adapter/NoonAccount.sol
  src/contracts/adapters/ll-adapter/SecuritizeAccount.sol
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  src/contracts/adapters/ll-adapter/common/SettlementAccount.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
  test/deploy/DeploymentScripts.t.sol
Due: sort-imports, sort-errors, format

refactor: 3f - wip
  script/adapters/actions/3f-adapter/SetExposureLimits.s.sol
  script/adapters/actions/3f-adapter/base/SetExposureLimitsBase.s.sol
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ThreeFAdapter.t.sol
Due: sort-imports, sort-errors, format

refactor: 3f
  script/adapters/actions/3f-adapter/SetExposureLimits.s.sol
  script/adapters/actions/3f-adapter/base/RedeemThreeFRequestsBase.s.sol
  script/adapters/actions/3f-adapter/base/SetExposureLimitsBase.s.sol
  script/adapters/base/DeployThreeFAdapterBase.sol
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/3f-adapter/IThreeFRequest.sol
  src/interfaces/adapters/3f-adapter/IThreeFRequestCallback.sol
  src/interfaces/adapters/3f-adapter/IThreeFVaultController.sol
  src/interfaces/adapters/3f-adapter/IThreeFWhitelist.sol
  src/interfaces/adapters/3f-adapter/ThreeFTypes.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/AdapterNoAccountShape.t.sol
  test/adapters/ThreeFAdapter.t.sol
  test/adapters/ThreeFAdapterMainnetAccounting.t.sol
Due: sort-imports, sort-errors, format

refactor: 3f
  src/contracts/adapters/ThreeFAdapter.sol
  test/adapters/ThreeFAdapterMainnetAccounting.t.sol
Due: sort-imports, sort-errors, format

refactor: safer 3f pending requests
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ThreeFAdapter.t.sol
  test/adapters/ThreeFAdapterMainnetAccounting.t.sol
Due: sort-imports, sort-errors, format

refactor: minor
  script/deploy/testnet/CreateHoodiMorphoLiquidLaneVault.s.sol
  src/contracts/adapters/ThreeFAdapter.sol
Due: sort-imports, sort-errors, format

chore: fmt
  script/deploy/testnet/CreateHoodiMorphoLiquidLaneVault.s.sol
Due: format

test: fix
  test/adapters/ThreeFAdapter.t.sol
  test/adapters/ThreeFAdapterMainnetAccounting.t.sol
Due: format

docs: update readme
  README.md
Due: none

Add missing RPC endpoint variables to environment template
  .env.example
Due: none

Update README with new .env variables
  README.md
Due: none

chore: update ci
  .github/workflows/test.yaml
Due: none

feat(3f): add requestsLength() getter for the active request count
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ThreeFAdapter.t.sol
Due: sort-imports, sort-errors, format

chore: more scripts
  script/deploy/testnet/DeployAndExerciseV1VaultsLatestTestnet.s.sol
  script/deploy/testnet/DeploySepoliaOldVaultThreeFAdapter.s.sol
  script/deploy/testnet/ExerciseFullCoreLiquidLaneTestnet.s.sol
Due: format

refactor: safer order
  src/contracts/adapters/ThreeFAdapter.sol
Due: sort-imports, sort-errors, format

test: add new
  test/adapters/ThreeFAdapter.t.sol
Due: format
