Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

sort-imports:
  name: Sort imports
  description: Normalize and sort import statements in Solidity files
  language: system
  entry: python3 script/utils/sort_imports.py
  pass_filenames: true

sort-errors:
  name: Sort solidity errors
  description: Alphabetize error declarations in Solidity files
  language: system
  entry: python3 script/utils/sort_errors.py
  pass_filenames: true

format:
  name: Format solidity code
  description: Format solidity code with `forge fmt`
  language: system
  entry: forge fmt
  pass_filenames: true

chore: increase max_test_rejects
  foundry.toml
Due: none

fix: remove stale headers from contributing.md
  CONTRIBUTING.md
Due: none

feat: using array for fixed withdrawals
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/vault/IVault.sol
  src/interfaces/vault/IVaultStorage.sol
Due: sort-imports, sort-errors, format

feat: withdrawal queue for vault
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
Due: sort-imports, sort-errors, format

feat: fixed term withdrawals using prefix sums
  foundry.lock
  script/DeployVault.s.sol
  script/DeployVaultTokenized.s.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/slasher/Slasher.sol
  src/contracts/slasher/VetoSlasher.sol
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/vault/IVault.sol
  src/interfaces/vault/IVaultStorage.sol
  test/DelegatorFactory.t.sol
  test/POCBase.t.sol
  test/SlasherFactory.t.sol
  test/VaultConfigurator.t.sol
  test/VaultFactory.t.sol
  test/delegator/FullRestakeDelegator.t.sol
  test/delegator/NetworkRestakeDelegator.t.sol
  test/delegator/OperatorNetworkSpecificDelegator.t.sol
  test/delegator/OperatorSpecificDelegator.t.sol
  test/integration/actions/ActionScripts.t.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/integration/base/SymbioticCoreInitBase.sol
  test/slasher/Slasher.t.sol
  test/slasher/VetoSlasher.t.sol
  test/vault/Vault.t.sol
  test/vault/VaultTokenized.t.sol
Due: sort-imports, sort-errors, format

feat: update to vault
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/vault/IVault.sol
  src/interfaces/vault/IVaultStorage.sol
  test/POCBase.t.sol
  test/delegator/FullRestakeDelegator.t.sol
  test/delegator/NetworkRestakeDelegator.t.sol
  test/delegator/OperatorNetworkSpecificDelegator.t.sol
  test/delegator/OperatorSpecificDelegator.t.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/slasher/Slasher.t.sol
  test/slasher/VetoSlasher.t.sol
  test/vault/Vault.t.sol
  test/vault/VaultTokenized.t.sol
Due: sort-imports, sort-errors, format

fix: asset per share logic
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
Due: sort-imports, sort-errors, format

feat: add ts hints sdk - wip
  sdk/ts/README.md
  sdk/ts/package-lock.json
  sdk/ts/package.json
  sdk/ts/src/index.ts
  sdk/ts/test/hints.test.ts
  sdk/ts/tsconfig.json
Due: none

feat: fixed withdrawal vault
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/vault/IVault.sol
  src/interfaces/vault/IVaultStorage.sol
Due: sort-imports, sort-errors, format

test: vault tests plus small fixes
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  test/vault/Vault.t.sol
Due: sort-imports, sort-errors, format

fix: incorrect slashing
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/vault/IVaultStorage.sol
Due: sort-imports, sort-errors, format

test: fixed tests
  test/vault/IVaultFull.sol
  test/vault/Vault.t.sol
  test/vault/VaultTokenized.t.sol
Due: format

test: vault invariant tests
  test/invariant/VaultInvariants.t.sol
  test/invariant/handlers/VaultHandler.sol
Due: format

feat: vault migration
  src/contracts/vault/Vault.sol
Due: sort-imports, sort-errors, format

refactor: hints sdk - wip
  sdk/ts/src/abis.ts
  sdk/ts/src/index.ts
  sdk/ts/src/sdk.ts
  sdk/ts/src/types.ts
  sdk/ts/src/utils.ts
Due: none

chore: update deps
  .gitmodules
  foundry.lock
Due: none

feat: migration update
  src/contracts/vault/Vault.sol
Due: sort-imports, sort-errors, format

feat: new shares calculation during migration
  src/contracts/vault/Vault.sol
Due: sort-imports, sort-errors, format

feat: universal delegator with ui
  .gitmodules
  foundry.lock
  script/test/README.md
  script/test/UniversalDelegator.s.sol
  script/utils/interfaces/ICreateX.sol
  spec/delegator/UniversalDelegator.md
  src/contracts/delegator/NetworkRestakeDelegator.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/libraries/UniversalDelegatorIndex.sol
  src/contracts/slasher/VetoSlasher.sol
  src/interfaces/delegator/IBaseDelegator.sol
  src/interfaces/delegator/IDelegatorHook.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.py
  test/delegator/UniversalDelegator.t.sol
  test/integration/SymbioticCoreIntegration.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/integration/base/SymbioticCoreInitBase.sol
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package.json
  ui/public/vite.svg
  ui/src/App.css
  ui/src/App.tsx
  ui/src/Providers.tsx
  ui/src/assets/react.svg
  ui/src/contracts/universalDelegator.ts
  ui/src/index.css
  ui/src/main.tsx
  ui/src/pages/UniversalDelegatorConfigurator.tsx
  ui/src/utils/universalDelegatorIndex.ts
  ui/src/web3/config.ts
  ui/tailwind.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: sort-imports, sort-errors, format

refactor: separate logic and frontend
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/pages/UniversalDelegatorConfigurator.tsx
  ui/src/pages/universalDelegator/logic.ts
Due: none

refactor: simplify calculations
  ui/src/pages/UniversalDelegatorConfigurator.tsx
Due: none

docs: update spec
  spec/delegator/UniversalDelegator.md
Due: none

refactor: split ui
  ui/src/pages/UniversalDelegatorConfigurator.tsx
  ui/src/pages/universalDelegator/components/GroupCard.tsx
  ui/src/pages/universalDelegator/components/MulticallPanel.tsx
  ui/src/pages/universalDelegator/components/NetworkCard.tsx
  ui/src/pages/universalDelegator/components/OperatorCard.tsx
  ui/src/pages/universalDelegator/components/SlotIndexBadge.tsx
  ui/src/pages/universalDelegator/components/SlotVisuals.tsx
  ui/src/pages/universalDelegator/components/StatusBanner.tsx
  ui/src/pages/universalDelegator/components/WalletStatus.tsx
  ui/src/pages/universalDelegator/useTxStatus.ts
Due: none

refactor: simplify legacy support & polish
  script/utils/interfaces/ICreateX.sol
  src/contracts/delegator/NetworkRestakeDelegator.sol
  src/contracts/slasher/VetoSlasher.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/delegator/IBaseDelegator.sol
  src/interfaces/delegator/IDelegatorHook.sol
  test/delegator/FullRestakeDelegator.t.sol
  test/delegator/NetworkRestakeDelegator.t.sol
  test/delegator/OperatorSpecificDelegator.t.sol
  test/helpers/VaultTestHelper.sol
  test/helpers/v1/IVaultStorageV1.sol
  test/helpers/v1/IVaultV1.sol
  test/helpers/v1/VaultStorageV1.sol
  test/helpers/v1/VaultV1.sol
  test/integration/SymbioticCoreIntegration.sol
  test/integration/SymbioticCoreIntegrationExample.t.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/integration/base/SymbioticCoreInitBase.sol
  test/invariant/handlers/VaultHandler.sol
  test/vault/IVaultFull.sol
  test/vault/Vault.t.sol
  test/vault/VaultTokenized.t.sol
Due: sort-imports, sort-errors, format

test: more details to spec & more tests
  spec/delegator/UniversalDelegator.md
  test/delegator/UniversalDelegator.t.sol
Due: format

fix: fully isolated groups
  spec/delegator/UniversalDelegator.md
  src/contracts/delegator/BaseDelegator.sol
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
  ui/src/pages/universalDelegator/logic.ts
Due: sort-imports, sort-errors, format

refactor: remove redundant const
  src/contracts/delegator/UniversalDelegator.sol
Due: sort-imports, sort-errors, format

feat: shares for UniversalDelegator
  script/test/UniversalDelegator.s.sol
  spec/delegator/UniversalDelegator.md
  src/contracts/delegator/BaseDelegator.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  test/delegator/UniversalDelegator.t.sol
  ui/src/pages/UniversalDelegatorConfigurator.tsx
Due: sort-imports, sort-errors, format

fix: make UniversalSlasher work
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultStorage.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  test/helpers/VaultTestHelper.sol
  test/vault/Vault.t.sol
Due: sort-imports, sort-errors, format

chore: separate VaultV2
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultStorage.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/vault/VaultTokenized.t.sol
  test/vault/VaultV2.t.sol
  test/vault/VaultV2Tokenized.t.sol
Due: sort-imports, sort-errors, format

feat: make migration working
  foundry.toml
  src/contracts/delegator/BaseDelegator.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/libraries/Checkpoints.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/slasher/VetoSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/integration/SymbioticCoreBytecode.sol
  test/integration/SymbioticCoreMigration.t.sol
  test/integration/base/SymbioticCoreInitBase.sol
  test/libraries/Checkpoints.t.sol
  test/vault/VaultV2.t.sol
  test/vault/VaultV2Tokenized.t.sol
Due: sort-imports, sort-errors, format

feat: cumulatives use 512 bits
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/libraries/Math512.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalSlasher.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/integration/SymbioticCoreIntegrationExample.t.sol
  test/integration/SymbioticCoreMigration.t.sol
  test/libraries/Math512.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: external liquidity
  src/contracts/PluginRegistry.sol
  src/contracts/common/Registry.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/IPluginRegistry.sol
  src/interfaces/common/IRegistry.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IBasePlugin.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalSlasher.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/mocks/MockPlugin.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: update unclaimed
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: remove shares from UniversalDelegator
  spec/vault/VaultV2Plugins.md
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
Due: sort-imports, sort-errors, format

docs: add liquidity spec
  spec/LiquidityPlugin.md
Due: none

refactor: decrease bytecode sizes and gas usage
  .gitmodules
  foundry.toml
  spec/LiquidityPlugin.md
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/MigratorV1V2.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: optimize bytecode and gas of vault v2
  src/contracts/libraries/ERC4626Math.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: resolverSetEpochsDelay -> resolverSetDelay
  src/contracts/slasher/UniversalSlasher.sol
  src/interfaces/slasher/IUniversalSlasher.sol
Due: sort-imports, sort-errors, format

Path conditions:
  sort-imports: any of: ^(src|examples)/.*\.sol$
  sort-errors: any of: ^(src|examples)/.*\.sol$
  format: any of: \.sol$, but not: ^lib/
