Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

sort-imports:
  name: Sort imports
  description: Normalize and sort import statements in Solidity files
  language: system
  entry: python3 script/utils/sort_imports.py
  pass_filenames: true

sort-errors:
  name: Sort solidity errors
  description: Alphabetize error declarations in Solidity files
  language: system
  entry: python3 script/utils/sort_errors.py
  pass_filenames: true

format:
  name: Format solidity code
  description: Format solidity code with `forge fmt`
  language: system
  entry: forge fmt
  pass_filenames: true

fix: bailsec - totalAssets can revert even when there is no mGLOBAL exposure
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  test/adapters/ll-adapter/MidasCutoffAccount.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Round pricing discrepancy
  src/contracts/adapters/ll-adapter/MidasAccount.sol
Due: sort-imports, sort-errors, format

fix: bailsec - bucketToTimestamp month-boundary corruption when CUTOFF_DAY > 28
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  test/adapters/ll-adapter/MidasCutoffAccount.t.sol
Due: sort-imports, sort-errors, format

feat: make account multicallable
  src/contracts/adapters/ll-adapter/common/Account.sol
Due: sort-imports, sort-errors, format

partially fix: bailsec - Historical round used without staleness/validity checks
  src/contracts/adapters/ll-adapter/MidasAccount.sol
  test/adapters/ll-adapter/MidasCutoffAccount.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - ThreeFAdapter.isValidSignature() uses memory-based signature checker on calldata input
  src/contracts/adapters/ThreeFAdapter.sol
Due: sort-imports, sort-errors, format

fix: statemind - ThreeFAdapter.getMaxAssets() omits maxAssetsPerRequest cap despite NatSpec
  src/interfaces/adapters/IThreeFAdapter.sol
Due: sort-imports, sort-errors, format

fix: statemind - ThreeFAdapter.onRequestConsumed() doesn't validate offer and signature
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ThreeFAdapter.t.sol
Due: sort-imports, sort-errors, format

chore: update configs
  script/deploy/DeployV1VaultLocal.s.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/CarryTradeUSDTRYLeverage_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/StockMarketTRBasisTrade_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mAPOLLO_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mBASIS_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mEDGE_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mFONE_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHYPER_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mM1USD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mMEV_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mROX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mRe7YIELD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mTBILL_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/msyrupUSDp_Account.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: audits
  audits/Bailsec-LiquidLane&Reactor.pdf
  audits/Bailsec-mGLOBAL.pdf
  audits/OZ-LiquidLane.pdf
Due: none

chore: add liquid lane deployment
  script/adapters/DeployLiquidLane.s.sol
Due: format

chore: update script
  script/adapters/DeployLiquidLane.s.sol
  script/deploy/DeployV1VaultLocal.s.sol
  script/deploy/testnet/DeployFullCoreLiquidLaneTestnet.s.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mFONE_Account.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

test: snyc
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: format

chore: update mGLOBAL
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

refactor: statemind - external->public consistency
  src/contracts/adapters/ThreeFAdapter.sol
Due: sort-imports, sort-errors, format

refactor: optimize AsyncRedeemAccount
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  src/interfaces/adapters/ll-adapter/IAsyncRedeemVault.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: run pre-commit
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
Due: sort-imports, sort-errors, format

refactor: polish AsyncRedeemOracle
  src/contracts/adapters/ll-adapter/oracles/AsyncRedeemOracle.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
  test/adapters/ll-adapter/FigureAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  src/contracts/adapters/ll-adapter/tokens-to-redeem/CarryTradeUSDTRYLeverage_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/StockMarketTRBasisTrade_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mAPOLLO_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mBASIS_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mBTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mEDGE_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mEVUSD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mFARM_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mFONE_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHYPER_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHyperBTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mHyperETH_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mM1USD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mMEV_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mROX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mRe7BTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mRe7YIELD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mSL_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mTBILL_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mevBTC_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/msyrupUSD_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/msyrupUSDp_Account.sol
  src/interfaces/adapters/ll-adapter/midas/IMidasTokenAccount.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Adapter cannot selectively cancel its own 3F offer nonces
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/3f-adapter/IThreeFRequest.sol
  src/interfaces/adapters/IThreeFAdapter.sol
  test/adapters/ThreeFAdapter.t.sol
Due: sort-imports, sort-errors, format

fix (docs): bailsec - Offer signer rotation invalidates pending offers with no grace period
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
Due: sort-imports, sort-errors, format

fix (docs): bailsec - getMaxAssets triggers permissionless sweepPending side effects
  src/interfaces/adapters/IThreeFAdapter.sol
Due: sort-imports, sort-errors, format

fix (docs): bailsec - Adapter rejects compact ERC-2098 EOA signatures accepted by 3F request contracts
  src/contracts/adapters/ThreeFAdapter.sol
  src/interfaces/adapters/IThreeFAdapter.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  script/adapters/DeployAaveV3Adapter.s.sol
  script/adapters/DeployAppAdapter.s.sol
  script/adapters/DeployERC4626Adapter.s.sol
  script/adapters/DeployEulerAdapter.s.sol
  script/adapters/DeployLiquidLaneAdapter.s.sol
  script/adapters/DeployMorphoVaultV2Adapter.s.sol
  script/adapters/DeployRestakingAppAdapter.s.sol
  script/adapters/DeployThreeFAdapter.s.sol
  script/adapters/base/DeployAdapterBase.sol
  script/deploy/adapters/DeployAaveV3Adapter.s.sol
  script/deploy/adapters/DeployAppAdapter.s.sol
  script/deploy/adapters/DeployERC4626Adapter.s.sol
  script/deploy/adapters/DeployEulerAdapter.s.sol
  script/deploy/adapters/DeployLiquidLane.s.sol
  script/deploy/adapters/DeployLiquidLaneAdapter.s.sol
  script/deploy/adapters/DeployMorphoVaultV2Adapter.s.sol
  script/deploy/adapters/DeployRestakingAppAdapter.s.sol
  script/deploy/adapters/DeployThreeFAdapter.s.sol
  script/deploy/adapters/base/DeployAaveV3AdapterBase.sol
  script/deploy/adapters/base/DeployAdapterBase.sol
  script/deploy/adapters/base/DeployAppAdapterBase.sol
  script/deploy/adapters/base/DeployERC4626AdapterBase.sol
  script/deploy/adapters/base/DeployEulerAdapterBase.sol
  script/deploy/adapters/base/DeployLiquidLaneAdapterBase.sol
  script/deploy/adapters/base/DeployMorphoVaultV2AdapterBase.sol
  script/deploy/adapters/base/DeployRestakingAppAdapterBase.sol
  script/deploy/adapters/base/DeployThreeFAdapterBase.sol
  test/deploy/DeploymentScripts.t.sol
Due: format

chore: update script
  script/deploy/adapters/DeployLiquidLane.s.sol
Due: format

chore: update scripts
  script/DeployVaultV2.s.sol
  script/adapters/DeployAaveV3Adapter.s.sol
  script/adapters/DeployAppAdapter.s.sol
  script/adapters/DeployERC4626Adapter.s.sol
  script/adapters/DeployEulerAdapter.s.sol
  script/adapters/DeployLiquidLaneAdapter.s.sol
  script/adapters/DeployMorphoVaultV2Adapter.s.sol
  script/adapters/DeployRestakingAppAdapter.s.sol
  script/adapters/DeployThreeFAdapter.s.sol
  script/deploy/adapters/DeployAaveV3Adapter.s.sol
  script/deploy/adapters/DeployAppAdapter.s.sol
  script/deploy/adapters/DeployERC4626Adapter.s.sol
  script/deploy/adapters/DeployEulerAdapter.s.sol
  script/deploy/adapters/DeployLiquidLane.s.sol
  script/deploy/adapters/DeployLiquidLaneAdapter.s.sol
  script/deploy/adapters/DeployMorphoVaultV2Adapter.s.sol
  script/deploy/adapters/DeployRestakingAppAdapter.s.sol
  script/deploy/adapters/DeployThreeFAdapter.s.sol
Due: format

chore: update scripts
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mM1USD_Account.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  script/adapters/DeployLiquidLaneAdapter.s.sol
Due: format

refactor: minor
  src/contracts/adapters/ThreeFAdapter.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

refactor: FigureAccount
  script/deploy/adapters/DeployLiquidLane.s.sol
  src/contracts/adapters/ll-adapter/FigureAccount.sol
  src/contracts/adapters/ll-adapter/OpenEdenAccount.sol
  src/contracts/adapters/ll-adapter/oracles/FigureOracle.sol
  src/contracts/adapters/ll-adapter/oracles/OpenEdenOracle.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/AUTO_Account.sol
  src/interfaces/adapters/ll-adapter/figure/IFigureSubAccount.sol
  src/interfaces/adapters/ll-adapter/openeden/IOpenEdenExpress.sol
  src/interfaces/adapters/ll-adapter/oracles/IFigureOracle.sol
  src/interfaces/adapters/ll-adapter/oracles/IOpenEdenOracle.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/FigureAccount.t.sol
  test/adapters/ll-adapter/OpenEdenAccountMainnet.t.sol
  test/adapters/ll-adapter/PriceDataOracles.t.sol
  test/adapters/ll-adapter/ProviderAccounts.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - _finalizeRequests can pop a fulfilled redemption without claiming it
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Pricing inconsistency in _totalAssets
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Unsupported ERC7540 operations
  src/contracts/adapters/ll-adapter/CentrifugeAccount.sol
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
Due: sort-imports, sort-errors, format

refactor: consistent Figure
  script/deploy/adapters/DeployLiquidLane.s.sol
  src/contracts/adapters/ll-adapter/FigureAccount.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/FigureAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

fix: redemption token normalization
  src/contracts/adapters/ll-adapter/CentrifugeAccount.sol
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/ACRDX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/JAAA_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/JTRSY_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deCRDX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deJAAA_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deJTRSY_Account.sol
  src/interfaces/adapters/ll-adapter/IAsyncRedeemAccount.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

refactor: OpenEden
  src/contracts/adapters/ll-adapter/OpenEdenAccount.sol
  src/contracts/adapters/ll-adapter/common/AsyncRedeemAccount.sol
  src/interfaces/adapters/ll-adapter/openeden/IOpenEdenAccount.sol
  src/interfaces/adapters/ll-adapter/openeden/IOpenEdenExpress.sol
  test/adapters/ll-adapter/OpenEdenAccountMainnet.t.sol
  test/adapters/ll-adapter/OpenEdenAccountMainnetBenchmark.t.sol
  test/adapters/ll-adapter/ProviderAccounts.t.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  audits/Bailsec-3F.pdf
  audits/Statemind-3F.pdf
  script/deploy/adapters/DeployLiquidLane.s.sol
  script/deploy/adapters/DeployThreeFAdapter.s.sol
Due: format

chore: update scripts
  script/deploy/adapters/DeployLiquidLane.s.sol
  script/deploy/test/DeployFullCoreChaos.s.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/mGLOBAL_Account.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
  test/deploy/DeployLiquidLane.t.sol
  test/helpers/MGlobalDataFeedHelper.sol
Due: sort-imports, sort-errors, format

Path conditions:
  sort-imports: any of: ^(src|examples)/.*\.sol$
  sort-errors: any of: ^(src|examples)/.*\.sol$
  format: any of: \.sol$, but not: ^lib/
