Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

sort-imports:
  name: Sort imports
  description: Normalize and sort import statements in Solidity files
  language: system
  entry: python3 script/utils/sort_imports.py
  pass_filenames: true

sort-errors:
  name: Sort solidity errors
  description: Alphabetize error declarations in Solidity files
  language: system
  entry: python3 script/utils/sort_errors.py
  pass_filenames: true

format:
  name: Format solidity code
  description: Format solidity code with `forge fmt`
  language: system
  entry: forge fmt
  pass_filenames: true

chore: update scripts
  script/deploy/adapters/DeployLiquidLane.s.sol
  test/adapters/ll-adapter/tokens_to_redeem/MidasTokensToRedeemMainnet.t.sol
  test/deploy/DeployLiquidLane.t.sol
Due: format

refactor: OpenEden
  script/adapters/DeployLiquidLaneAdapter.s.sol
  src/contracts/adapters/ll-adapter/OpenEdenAccount.sol
  test/adapters/ll-adapter/OpenEdenAccountMainnetBenchmark.t.sol
Due: sort-imports, sort-errors, format

chore: update scripts
  src/interfaces/adapters/ll-adapter/openeden/IOpenEdenAccount.sol
  test/adapters/ll-adapter/OpenEdenAccountMainnetBenchmark.t.sol
  test/adapters/ll-adapter/ProviderAccounts.t.sol
Due: sort-imports, sort-errors, format

test: fix Centrifuge pending valuation expectation
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: format

chore: update audits
  audits/Bailsec-LiquidLane:Centrifuge.pdf
  audits/Bailsec-LiquidLane:mGLOBAL.pdf
Due: none

feat: add V1 vault testnet chaos runner
  script/deploy/testnet/DeployV1VaultsChaosTestnet.s.sol
  test/deploy/DeployV1VaultsChaosTestnet.t.sol
Due: format

fix: configure Centrifuge async redeem vault
  script/deploy/adapters/DeployLiquidLane2.s.sol
  src/contracts/adapters/ll-adapter/CentrifugeAccount.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/ACRDX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/JAAA_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/JTRSY_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deCRDX_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deJAAA_Account.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/deJTRSY_Account.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/AsyncRedeemAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
  test/deploy/DeployLiquidLane2.t.sol
Due: sort-imports, sort-errors, format

feat: pareto account
  script/deploy/adapters/DeployParetoAccount.s.sol
  script/deploy/adapters/ValidateParetoAccount.s.sol
  src/contracts/adapters/ll-adapter/ParetoAccount.sol
  src/contracts/adapters/ll-adapter/oracles/ParetoOracle.sol
  src/contracts/adapters/ll-adapter/tokens-to-redeem/AA_FalconX_Account.sol
  src/interfaces/adapters/ll-adapter/oracles/IParetoOracle.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoAccount.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoCDO.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoCreditVault.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoWithdrawalQueue.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/ParetoAccount.t.sol
  test/adapters/ll-adapter/ParetoOracle.t.sol
  test/adapters/ll-adapter/ProviderAccounts.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
  test/deploy/DeployParetoAccount.t.sol
Due: sort-imports, sort-errors, format

feat: 3jane - wip
  src/contracts/adapters/ll-adapter/ThreeJaneAccount.sol
  src/contracts/adapters/ll-adapter/oracles/ThreeJaneOracle.sol
  src/interfaces/adapters/ll-adapter/oracles/IThreeJaneOracle.sol
  src/interfaces/adapters/ll-adapter/threejane/IThreeJaneAccount.sol
  src/interfaces/adapters/ll-adapter/threejane/IThreeJaneSUSD3.sol
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/AccountsBase.t.sol
  test/adapters/ll-adapter/PriceDataOracles.t.sol
  test/adapters/ll-adapter/ThreeJaneAccount.t.sol
  test/adapters/ll-adapter/tokens_to_redeem/TokensToRedeemMainnet.t.sol
Due: sort-imports, sort-errors, format

refactor: plish euler and pareto
  script/deploy/testnet/DeployEulerAdapterMocks.s.sol
  script/deploy/testnet/DeployFullAdapterOverlayTestnet.s.sol
  script/deploy/testnet/base/DeployEulerAdapterMocksBase.s.sol
  src/contracts/adapters/EulerAdapter.sol
  src/contracts/adapters/ll-adapter/ParetoAccount.sol
  src/interfaces/adapters/IEulerAdapter.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoAccount.sol
  test/adapters/EulerAdapter.t.sol
  test/adapters/ll-adapter/ParetoAccount.t.sol
  test/deploy/DeployFullAdapterOverlayTestnet.t.sol
  test/deploy/DeployLiquidLane2.t.sol
  test/mocks/HoodiScenarioProtocolMocks.sol
  test/mocks/MockMorphoVault.sol
  test/mocks/MockMorphoVault.t.sol
Due: sort-imports, sort-errors, format

refactor: minor
  src/contracts/adapters/ll-adapter/oracles/ParetoOracle.sol
Due: sort-imports, sort-errors, format

feat: better maxAssets lens
  src/contracts/adapters/utils/FrontendLiquidityLens.sol
  src/interfaces/adapters/morpho_vaultv2_adapter/IMorphoVaultV2.sol
  src/interfaces/adapters/utils/ILiquidityLensDependencies.sol
  test/adapters/utils/FrontendLiquidityLens.t.sol
  test/adapters/utils/FrontendLiquidityLensMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: add audit
  audits/Bailsec-LiquidLane:Figure&OpenEden.pdf
  src/contracts/adapters/utils/FrontendLiquidityLens.sol
  src/interfaces/adapters/utils/ILiquidityLensDependencies.sol
  test/adapters/utils/FrontendLiquidityLens.t.sol
Due: sort-imports, sort-errors, format

reafctor: lens
  src/contracts/adapters/utils/FrontendLiquidityLens.sol
  src/interfaces/adapters/utils/ILiquidityLensDependencies.sol
  test/adapters/utils/FrontendLiquidityLens.t.sol
  test/adapters/utils/FrontendLiquidityLensMainnet.t.sol
Due: sort-imports, sort-errors, format

chore: scripts
  script/deploy/utils/DeployFrontendLiquidityLens.s.sol
  test/deploy/DeployFrontendLiquidityLens.t.sol
Due: format

tests: fix
  test/adapters/LiquidLaneAdapterAllTokensBenchmark.t.sol
  test/adapters/ll-adapter/SThreeJaneAccount.t.sol
Due: format

chore: update audits
  audits/Bailsec-3F.pdf
  audits/Bailsec-LiquidLane:Centrifuge.pdf
  audits/Bailsec-LiquidLane:Figure&OpenEden.pdf
  audits/Bailsec-LiquidLane:mGLOBAL.pdf
Due: none

docs: design emergency adapter freeze implementations
  docs/superpowers/specs/2026-07-28-emergency-account-adapter-freeze-design.md
Due: none

feat: add emergency account and adapter freeze implementations
  docs/superpowers/plans/2026-07-28-emergency-account-adapter-freeze.md
  script/deploy/adapters/pause/DeployAccountPause.s.sol
  script/deploy/adapters/pause/DeployAdapterPause.s.sol
  script/deploy/adapters/pause/contracts/AccountPause.sol
  script/deploy/adapters/pause/contracts/AdapterPause.sol
  test/deploy/adapters/pause/PauseDeployments.t.sol
Due: format

fix: bailsec - Funds can be stranded in case of vault closure
  src/contracts/adapters/ll-adapter/ParetoAccount.sol
  src/contracts/adapters/utils/FrontendLiquidityLens.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoCDO.sol
  test/adapters/ll-adapter/ParetoAccount.t.sol
  test/adapters/utils/FrontendLiquidityLens.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Pareto default can leave AA_FalconX priced after withdrawals stop
  src/contracts/adapters/ll-adapter/ParetoAccount.sol
  src/interfaces/adapters/ll-adapter/pareto/IParetoCDO.sol
  test/adapters/ll-adapter/ParetoAccount.t.sol
Due: sort-imports, sort-errors, format

fix: bailsec - Pareto default can leave AA_FalconX priced after withdrawals stop
  src/contracts/adapters/ll-adapter/ParetoAccount.sol
  src/contracts/adapters/ll-adapter/oracles/ParetoOracle.sol
  test/adapters/ll-adapter/ParetoAccount.t.sol
  test/adapters/ll-adapter/ParetoOracle.t.sol
Due: sort-imports, sort-errors, format

feat: deploy liquid lane 3 factories
  script/deploy/adapters/DeployLiquidLane3.s.sol
  test/deploy/DeployLiquidLane3Mainnet.t.sol
Due: format

chore: polish scripts
  script/deploy/adapters/DeployLiquidLane3.s.sol
  script/deploy/adapters/DeployParetoAccount.s.sol
  script/deploy/adapters/ValidateParetoAccount.s.sol
  snapshots/gas.txt
  snapshots/sizes.txt
  test/deploy/DeployParetoAccount.t.sol
Due: format

NO-TASK Add the Bailsec Euler / Pareto final audit report.
  audits/Bailsec-Euler&Pareto.pdf
Due: none

ci: exclude TruffleHog Lob detector to unblock secret scanning
  .github/workflows/trufflehog.yml
Due: none

ci: bump mainnet fork block past LL3 deploy and throttle fork RPC
  .github/workflows/test.yaml
Due: none

ci: fix fork job invocation broken by unusable throttle flags
  .github/workflows/test.yaml
Due: none

ci: throttle fork RPC via foundry.toml profile instead of CLI flags
  foundry.toml
Due: none

Revert "ci: throttle fork RPC via foundry.toml profile instead of CLI flags"
  foundry.toml
Due: none

ci: persist fork RPC cache across failed runs
  .github/workflows/test.yaml
Due: none

fix: msyrupUSDp redeems in USDT, the only token its Midas vault accepts
  src/contracts/adapters/ll-adapter/tokens-to-redeem/msyrupUSDp_Account.sol
Due: sort-imports, sort-errors, format

ci: retry rate-limited fork suites instead of failing the run
  .github/workflows/test.yaml
Due: none

Path conditions:
  sort-imports: any of: ^(src|examples)/.*\.sol$
  sort-errors: any of: ^(src|examples)/.*\.sol$
  format: any of: \.sol$, but not: ^lib/
