Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: "^(docs/autogen|snapshots/)"
      - id: trailing-whitespace
        exclude: "^(docs/autogen|snapshots/)"
      - id: end-of-file-fixer
        exclude: "^(docs/autogen|snapshots/)"
      - id: check-merge-conflict
      - id: check-json
        exclude: "^(docs/autogen|snapshots/)"
      - id: check-yaml

  - repo: local
    hooks:
      - id: sort-imports
        name: Sort imports
        description: Normalize and sort import statements in Solidity files
        language: system
        entry: python3 script/utils/sort_imports.py
        files: "^(src|examples)/.*\\.sol$"
        pass_filenames: true
      - id: sort-errors
        name: Sort solidity errors
        description: Alphabetize error declarations in Solidity files
        language: system
        entry: python3 script/utils/sort_errors.py
        files: "^(src|examples)/.*\\.sol$"
        pass_filenames: true
      - id: format
        name: Format solidity code
        description: Format solidity code with `forge fmt`
        language: system
        entry: forge fmt
        files: '\.sol$'
        exclude: "^lib/"
        pass_filenames: true
      - id: doc
        name: Generate documentation
        description: Generate docs with `forge doc`
        language: system
        entry: bash -lc 'forge build; rm -rf docs/autogen; forge doc -b -o docs/autogen'
        pass_filenames: false
      - id: forge-snapshots
        name: Update forge snapshots
        language: system
        entry: bash -lc 'mkdir -p snapshots; forge build; forge build --sizes | tee snapshots/sizes.txt >/dev/null; forge test --isolate --gas-report | tee snapshots/gas.txt >/dev/null'
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format non-solidity files with prettier
        exclude: "^(docs/autogen|snapshots/)"

feat: remove flashloan
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IFeeRegistry.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/mocks/MockFeeRegistry.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: simplify plugin limits
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: auto allocation on deposit
  src/contracts/vault/VaultV2.sol
Due: sort-imports, sort-errors, format

fix: set plugin limit handling
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: multiple delegator fixes
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

test: more coverage
  test/delegator/FullRestakeDelegator.t.sol
  test/delegator/NetworkRestakeDelegator.t.sol
  test/delegator/OperatorNetworkSpecificDelegator.t.sol
  test/delegator/OperatorSpecificDelegator.t.sol
  test/delegator/UniversalDelegator.t.sol
  test/integration/SymbioticCoreIntegration.sol
  test/integration/SymbioticCoreIntegrationExample.t.sol
  test/integration/actions/ActionScripts.t.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/slasher/Slasher.t.sol
  test/slasher/VetoSlasher.t.sol
Due: format

chore: return old contracts
  src/contracts/common/Registry.sol
  src/contracts/delegator/BaseDelegator.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/libraries/Checkpoints.sol
  src/contracts/libraries/ERC4626Math.sol
  src/contracts/libraries/ERC4626MathV2.sol
  src/contracts/slasher/BaseSlasher.sol
  src/contracts/vault/MigratorV1V2.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IDelegatorHook.sol
  src/interfaces/delegator/IDelegatorHookV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/integration/SymbioticCoreIntegration.sol
  test/integration/base/SymbioticCoreBindingsBase.sol
  test/mocks/SimpleFullRestakeDelegatorHook.sol
  test/mocks/SimpleNetworkRestakeDelegatorHook.sol
  test/mocks/SimpleOperatorNetworkSpecificDelegatorHook.sol
  test/mocks/SimpleOperatorSpecificDelegatorHook.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

chore: return old interfaces
  src/interfaces/common/IRegistry.sol
  src/interfaces/delegator/IBaseDelegator.sol
  src/interfaces/slasher/IBaseSlasher.sol
Due: sort-imports, sort-errors, format

test: add slasher tests
  test/slasher/UniversalSlasher.t.sol
Due: format

test: more coverage
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: format

fix: multiple fixes
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/MigratorV1V2.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

chore: update bench
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
Due: none

refactor: remove hints
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: more granular limits for slots
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: multiple fixes
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: remove migrator and simplify legacy withdrawals
  src/contracts/vault/MigratorV1V2.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: optimize and prettify Vault
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: whitelist depositors on init
  src/contracts/vault/VaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: clean from unused elements
  script/test/UniversalDelegator.s.sol
  src/contracts/VaultConfigurator.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/Slasher.sol
  src/contracts/slasher/VetoSlasher.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
Due: sort-imports, sort-errors, format

chore: run pre-commit
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/vault/VaultV2.sol
Due: sort-imports, sort-errors, format

feat: add withdrawal buffer setting
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: only Rewards can donate & multicall for vault
  foundry.lock
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVault.sol
  src/interfaces/vault/IVaultTokenized.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: remove unused imports/libs
  foundry.lock
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/common/MigratablesFactory.sol
  src/contracts/hints/Hints.sol
  src/contracts/hints/SlasherHints.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/Vault.sol
  src/contracts/vault/VaultTokenized.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
Due: sort-imports, sort-errors, format

refactor: polish UniversalSlasher
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IFullRestakeDelegator.sol
  src/interfaces/delegator/INetworkRestakeDelegator.sol
  src/interfaces/delegator/IOperatorNetworkSpecificDelegator.sol
  src/interfaces/delegator/IOperatorSpecificDelegator.sol
  src/interfaces/slasher/ISlasher.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/slasher/IVetoSlasher.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: allow only single depositor to whitelist on init
  src/contracts/vault/VaultV2.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: add getFilled
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

refactor: make duration-timestamp instead timestamp-duration
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

chore: run pre-commit
  snapshots/gas.txt
  snapshots/sizes.txt
Due: none

chore: update gas bench
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  script/update_gas_reports.py
Due: none

refactor: normalize comments and separators
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
Due: sort-imports, sort-errors, format

docs: fill interfaces
  AGENTS.md
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
Due: sort-imports, sort-errors, format

feat: only whitelisted plugins are allowed
  script/test/UniversalDelegator.s.sol
  src/contracts/PluginRegistry.sol
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/IPluginRegistry.sol
  src/interfaces/vault/IVaultV2.sol
  test/PluginRegistry.t.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/helpers/VaultV2TestHelper.sol
  test/mocks/Rewards.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: historical allocated
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: multiple issues in UniversalDelegator and VaultV2
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/vault/IVaultV2.sol
  src/interfaces/vault/IVaultV2Storage.sol
  test/delegator/UniversalDelegator.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: pro to claims over instant withdrawals
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: more smooth migration for networks & fix createSlot
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

test: update tests
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/vault/VaultV2.t.sol
Due: format

test: plugins integration
  test/mocks/MockMorphoAllocatePlugin.sol
  test/mocks/MockMorphoBorrowPlugin.sol
  test/mocks/MockMorphoVault.sol
  test/mocks/MockRewards.sol
  test/vault/VaultV2.t.sol
Due: format

test: plugins integration
  test/vault/VaultV2.t.sol
Due: format
