Repository symbioticfi/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-imports, sort-errors, format

sort-imports:
  name: Sort imports
  description: Normalize and sort import statements in Solidity files
  language: system
  entry: python3 script/utils/sort_imports.py
  pass_filenames: true

sort-errors:
  name: Sort solidity errors
  description: Alphabetize error declarations in Solidity files
  language: system
  entry: python3 script/utils/sort_errors.py
  pass_filenames: true

format:
  name: Format solidity code
  description: Format solidity code with `forge fmt`
  language: system
  entry: forge fmt
  pass_filenames: true

chore: run pre-commit
  AGENTS.md
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  snapshots/gas.txt
  snapshots/sizes.txt
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  src/interfaces/vault/IVaultV2.sol
Due: sort-imports, sort-errors, format

chore: remove new erc4626 lib
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  foundry.toml
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/libraries/ERC4626MathV2.sol
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

chore: remove outdated spec
  spec/delegator/UniversalDelegator.md
Due: none

fix: create new bucket on donate
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  script/update_gas_reports.py
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/vault/VaultV2.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/vault/Vault.t.sol
  test/vault/VaultTokenized.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: clear no-plugins pending on reset
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: create new bucket on donate
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: safeguard from turned off plugins
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: emit Transfer on instantWithdraw
  src/contracts/vault/VaultV2.sol
  src/interfaces/vault/IVaultV2.sol
Due: sort-imports, sort-errors, format

fix: revert on zero recipient
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

feat: add subnetwork/operator to getSlot
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
Due: sort-imports, sort-errors, format

chore: remove ui
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package.json
  ui/pnpm-lock.yaml
  ui/public/vite.svg
  ui/src/App.css
  ui/src/App.tsx
  ui/src/Providers.tsx
  ui/src/assets/react.svg
  ui/src/contracts/universalDelegator.ts
  ui/src/index.css
  ui/src/main.tsx
  ui/src/pages/UniversalDelegatorConfigurator.tsx
  ui/src/pages/universalDelegator/components/GroupCard.tsx
  ui/src/pages/universalDelegator/components/MulticallPanel.tsx
  ui/src/pages/universalDelegator/components/NetworkCard.tsx
  ui/src/pages/universalDelegator/components/OperatorCard.tsx
  ui/src/pages/universalDelegator/components/SlotIndexBadge.tsx
  ui/src/pages/universalDelegator/components/SlotVisuals.tsx
  ui/src/pages/universalDelegator/components/StatusBanner.tsx
  ui/src/pages/universalDelegator/components/WalletStatus.tsx
  ui/src/pages/universalDelegator/logic.ts
  ui/src/pages/universalDelegator/useTxStatus.ts
  ui/src/utils/universalDelegatorIndex.ts
  ui/src/web3/config.ts
  ui/tailwind.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: none

feat: add morpho v2 plugin example - wip
  src/contracts/vault/VaultV2.sol
  src/interfaces/vault/IPluginBase.sol
  test/mocks/MockMorphoAllocatePlugin.sol
Due: sort-imports, sort-errors, format

fix: adjustments to morpho plugin
  test/mocks/MockMorphoAllocatePlugin.sol
Due: format

feat: universal delegator ui - wip
  AGENTS.md
  script/test/UniversalDelegator.s.sol
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.cjs
  ui/public/vite.svg
  ui/src/App.css
  ui/src/App.tsx
  ui/src/abi/erc20.ts
  ui/src/abi/universalDelegator.ts
  ui/src/abi/vaultV2.ts
  ui/src/assets/react.svg
  ui/src/components/ActionPanel.tsx
  ui/src/components/Breadcrumbs.tsx
  ui/src/components/ContextPanel.tsx
  ui/src/components/OpsList.tsx
  ui/src/components/SimulationPanel.tsx
  ui/src/components/SlotBoard.tsx
  ui/src/components/SlotCard.tsx
  ui/src/components/TopBar.tsx
  ui/src/index.css
  ui/src/lib/format.ts
  ui/src/lib/indexing.ts
  ui/src/lib/ops.ts
  ui/src/lib/subnetwork.ts
  ui/src/main.tsx
  ui/tailwind.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: format

test: add tests for MockMorphoAllocatePlugin
  test/mocks/MockMorphoAllocatePlugin.sol
  test/mocks/MockMorphoAllocatePlugin.t.sol
  test/mocks/MockMorphoBorrowPlugin.sol
  test/mocks/MockPlugin.sol
  test/vault/VaultV2.t.sol
Due: format

fix: not allow VaultV2 with not Universal delegator/slasher
  snapshots/gas.txt
  snapshots/sizes.txt
  src/contracts/vault/VaultV2.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/mocks/MockMorphoAllocatePlugin.t.sol
  test/mocks/MockMorphoVault.sol
  test/mocks/MockRewards.sol
  test/vault/VaultV2.t.sol
  test/vault/VaultV2Tokenized.t.sol
  ui/README.md
  ui/eslint.config.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/public/vite.svg
  ui/src/App.tsx
  ui/src/assets/react.svg
  ui/src/components/ActionPanel.tsx
  ui/src/components/SimulationPanel.tsx
  ui/src/components/SlotBoard.tsx
  ui/src/components/SlotCard.tsx
  ui/src/components/TopBar.tsx
  ui/src/index.css
  ui/src/main.tsx
  ui/tailwind.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: sort-imports, sort-errors, format

refactor: group -> subvault
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  script/update_gas_reports.py
  snapshots/gas.txt
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  src/interfaces/slasher/IUniversalSlasher.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/vault/VaultV2.t.sol
  ui/src/App.tsx
  ui/src/components/ActionPanel.tsx
  ui/src/components/SlotBoard.tsx
  ui/src/components/SlotCard.tsx
Due: sort-imports, sort-errors, format

chore: upload issues
  .forgeignore
  FINDINGS1.json
  FINDINGS2.json
  FINDINGS3.json
  ISSUES.md
  foundry.toml
  test_proof/Issue21_RemovedChildLinked.t.sol
Due: format

chore: clean
  ISSUES.md
  RESPONSE.md
  test_proof/Issue21_RemovedChildLinked.t.sol
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.cjs
  ui/public/vite.svg
  ui/src/App.css
  ui/src/App.tsx
  ui/src/abi/erc20.ts
  ui/src/abi/universalDelegator.ts
  ui/src/abi/vaultV2.ts
  ui/src/assets/react.svg
  ui/src/components/ActionPanel.tsx
  ui/src/components/Breadcrumbs.tsx
  ui/src/components/ContextPanel.tsx
  ui/src/components/OpsList.tsx
  ui/src/components/SimulationPanel.tsx
  ui/src/components/SlotBoard.tsx
  ui/src/components/SlotCard.tsx
  ui/src/components/TopBar.tsx
  ui/src/index.css
  ui/src/lib/format.ts
  ui/src/lib/indexing.ts
  ui/src/lib/ops.ts
  ui/src/lib/subnetwork.ts
  ui/src/main.tsx
  ui/tailwind.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: format

fix: do not allow to revoke roles for active plugins
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: return maxNetworkLimit to mitigate delegate/undelegate/delegate (in another subvault) scenario
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
Due: sort-imports, sort-errors, format

fix: safer mapping of old delegators to universal
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - Wrong parameter in InstantWithdraw event emission
  src/interfaces/vault/IVaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - VaultV2 interface contains unused errors and omits declared `IVaultV2.ClaimBatch` emission
  src/interfaces/vault/IVaultV2.sol
Due: sort-imports, sort-errors, format

fix: statemind - Unused _rootSlot function in UniversalDelegator
  src/contracts/delegator/UniversalDelegator.sol
Due: sort-imports, sort-errors, format

fix: statemind - Unused _cumulativeSlash storage variable in UniversalDelegator
  src/contracts/delegator/UniversalDelegator.sol
Due: sort-imports, sort-errors, format

fix: statemind - Shared `setSize` can reduce or cancel an already requested slash
  foundry.toml
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

refactor: make Vault fit bytecode
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

refactor: optimize gas
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  src/contracts/delegator/UniversalDelegator.sol
Due: sort-imports, sort-errors, format

chore: adjust response
  ISSUES.md
  RESPONSE.md
Due: none

fix: max network limit
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  src/contracts/delegator/UniversalDelegator.sol
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - gas optimization
  src/contracts/vault/VaultV2.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - consistent withdrawals and slashing durations
  src/contracts/slasher/UniversalSlasher.sol
  src/contracts/vault/VaultV2.sol
  src/contracts/vault/VaultV2Storage.sol
  src/interfaces/vault/IVaultV2.sol
  test/slasher/UniversalSlasher.t.sol
  test/vault/VaultV2.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - removeSlot does not decrement _noPluginsSize for noPlugins subvault slots
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - Stale `prevSum` in withdrawal buffer after last subvault removal
  ISSUES.md
  RESPONSE.md
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: statemind - Pending calculation underreports when a clearing event outlives its corresponding pending in the time window
  RESPONSE.md
  src/contracts/delegator/UniversalDelegator.sol
  test/delegator/UniversalDelegator.t.sol
Due: sort-imports, sort-errors, format

fix: stake overreporting - wip
  ANSWER.md
  UniversalDelegatorGasReport.md
  UniversalDelegatorGasReport_AfterFirstSlash.md
  UniversalDelegatorGasReport_Scenarios.md
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/SwapSlotsVerification.t.sol
  test/delegator/UniversalDelegator.t.sol
  test/delegator/UniversalDelegatorGas.t.sol
  test/helpers/CoreV2StakeForInvariantHelper.sol
  test/helpers/CoreV2StakeForInvariantHelper.t.sol
  test/simulations/ATTEMPT1.md
  test/simulations/ATTEMPT1NEW.md
  test/simulations/ATTEMPT2.md
  test/simulations/ATTEMPT2NEW.md
  test/simulations/ATTEMPT3.md
  test/simulations/ATTEMPT3NEW.md
  test/simulations/ATTEMPT4.md
  test/simulations/ATTEMPT4NEW.md
  test/simulations/ATTEMPT5.md
  test/simulations/UniversalDelegatorCompact.sol
  test/simulations/UniversalDelegatorCompactNew.sol
  test/simulations/UniversalDelegatorCompactNewSimulation.t.sol
  test/simulations/UniversalDelegatorCompactSimulation.t.sol
Due: sort-imports, sort-errors, format

fix: stake overreporting
  test/simulations/ATTEMPT6NEW.md
  test/simulations/ATTEMPT7NEW.md
  test/simulations/EXAMPLE.md
  test/simulations/EXAMPLE_SLASH.md
  test/simulations/EXAMPLE_SWAP.md
  test/simulations/SIMULATION.md
  test/simulations/UniversalDelegatorCompactNew.sol
  test/simulations/UniversalDelegatorCompactNewProofSearch.t.sol
  test/simulations/UniversalDelegatorCompactNewSimulation.t.sol
  test/simulations/UniversalDelegatorCompactSimulation.t.sol
  test/simulations/Untitled
Due: format

fix: shared slashing - wip
  test/simulations/EXAMPLE_CLEAR.md
  test/simulations/EXAMPLE_SHARED.md
  test/simulations/EXAMPLE_SHARED_OVER.md
  test/simulations/SIMULATION_SHARED.md
  test/simulations/UniversalDelegatorCompactNew.sol
  test/simulations/UniversalDelegatorCompactNewProofSearch.t.sol
  test/simulations/UniversalDelegatorCompactNewSimulation.t.sol
Due: format

fix: statemind - UniversalDelegator.setSize() increase during pending window inflates UniversalDelegator.getAllocated() beyond original allocation
  src/contracts/delegator/UniversalDelegator.sol
  src/interfaces/delegator/IUniversalDelegator.sol
  test/delegator/SwapSlotsVerification.t.sol
  test/delegator/UniversalDelegator.t.sol
  test/simulations/UniversalDelegatorCompactNew.sol
  test/simulations/UniversalDelegatorCompactNewProofSearch.t.sol
Due: sort-imports, sort-errors, format

Path conditions:
  sort-imports: any of: ^(src|examples)/.*\.sol$
  sort-errors: any of: ^(src|examples)/.*\.sol$
  format: any of: \.sol$, but not: ^lib/
